<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cheak it</title>
</head>
<body>
<h1 align="center"> hii, cheak your puntuation </h1>
<h1>your analze text : {{purpose}}</h1>
<p>
    {{analizedtext}}
</p>
<h1  align="center">
    hii , check your upper case letter
</h1>
<h1 align="ceneter">
    hii, check your letter.
</h1>
<h1>
    your letter : {{purpose}}
</h1>
<p>
     {{uppercaseletter}}
</p>
<h1 align="center"> hi, check your space
</h1>
<h1>
    your letter : {{purpose}}
</h1>
<p>
     {{space}}
</p>
</body>
</html>